@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body
{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}

/* --------Navigation Bar-------- */
.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em !important;
}
/*--------Header CSS---------*/
#header
{
  height: 100vh;
  background: url(img/background5.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.user-box
{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.user-box img
{
  border-radius: 50%;
  width: 90px;

}
.user-box h1
{
  color: #fff;
  font-wight: bold;
  margin: 10px;
  font-size: 500%;
  /* text-transform: uppercase; */
  text-shadow: 1px 1px 10px #000;
}
.user-box p
{
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

/*---------------About-------------*/
.about{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #E6E6FA;


}

.profile-img{
  height: 400px;
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
/* --------Project Section ---------*/

.proj-heading {
  padding-bottom: 30px;
  padding-top: 40px;
}

.proj-img{
  border-radius: 25px;
  border: solid black;
}
.img-coming-soon{
  border-radius: 25px;
}

.proj-details{
  padding-top: 40px;
  /* width: 75%;
  margin: 0 auto; */
}

.proj-details h3{
  padding-top: 20px;
  font-weight: bold;
}
.proj-details p{
  padding-left: 20px;
  padding-right: 20px;
}

.experiences{
  padding-top: 80px;
  padding-bottom: 50px;

  background-color: #e8f4f8;

}

/* ------- Connect ------ */
.fa-github{
  color: black;
}

.fa-linkedin{
  color: #0077B5;
}

.fa-github:hover, .fa-linkedin:hover{
  color: #d5d5d5;
}
.fa-github, .fa-linkedin{
  font-size: 4em;
  margin: 1rem;
}

.social a{
  padding: 2rem;
}

.footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
}



/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    padding: 2rem;
  }
  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
